---
- name: Deploy vmstorage systemd service
  template:
    src: vmstorage.service.j2
    dest: /etc/systemd/system/vmstorage.service
    mode: "0644"
  when: inventory_hostname in vm_storage_nodes
  notify: restart victoriametrics cluster

- name: Deploy vminsert systemd service
  template:
    src: vminsert.service.j2
    dest: /etc/systemd/system/vminsert.service
    mode: "0644"
  when: inventory_hostname in vm_insert_nodes
  notify: restart victoriametrics cluster

- name: Deploy vmselect systemd service
  template:
    src: vmselect.service.j2
    dest: /etc/systemd/system/vmselect.service
    mode: "0644"
  when: inventory_hostname in vm_select_nodes
  notify: restart victoriametrics cluster

- name: Deploy prometheus.yml
  template:
    src: prometheus.yml.j2
    dest: "{{ vm_data_dir }}/prometheus.yml"
    owner: "{{ vm_user }}"
    group: "{{ vm_group }}"
    mode: "0644"
  when: inventory_hostname in vm_agent_nodes
  notify: restart victoriametrics cluster

- name: Deploy vmagent systemd service
  template:
    src: vmagent.service.j2
    dest: /etc/systemd/system/vmagent.service
    mode: "0644"
  when: inventory_hostname in vm_agent_nodes
  notify: restart victoriametrics cluster

- name: Reload systemd
  systemd:
    daemon_reload: yes

- name: Enable and start vmstorage
  systemd:
    name: vmstorage
    state: started
    enabled: yes
  when: inventory_hostname in vm_storage_nodes

- name: Enable and start vminsert
  systemd:
    name: vminsert
    state: started
    enabled: yes
  when: inventory_hostname in vm_insert_nodes

- name: Enable and start vmselect
  systemd:
    name: vmselect
    state: started
    enabled: yes
  when: inventory_hostname in vm_select_nodes

- name: Enable and start vmagent
  systemd:
    name: vmagent
    state: started
    enabled: yes
  when: inventory_hostname in vm_agent_nodes

- name: Deploy alerts.yml
  template:
    src: alerts.yml.j2
    dest: "{{ vm_data_dir }}/alerts.yml"
    owner: "{{ vm_user }}"
    group: "{{ vm_group }}"
    mode: "0644"
  when: inventory_hostname in vm_alert_nodes
  notify: restart victoriametrics cluster

- name: Deploy vmalert systemd service
  template:
    src: vmalert.service.j2
    dest: /etc/systemd/system/vmalert.service
    mode: "0644"
  when: inventory_hostname in vm_alert_nodes
  notify: restart victoriametrics cluster

- name: Enable and start vmalert
  systemd:
    name: vmalert
    state: started
    enabled: yes
  when: inventory_hostname in vm_alert_nodes
